.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
// input {
//   border-radius: 5px;
//     border: 1px solid lightgray;
//     height: 32px;
//     margin: 5px 5px;
//     padding: 10px;
// }
.validation-error {
  margin-left: 10px;
    color: red;
}
button {
  height: 30px;
  border-radius: 5px;
  width: 215px;
  margin: 5px;
}